Flask==0.9
Flask-Mail==0.6.1
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
Jinja2==2.6
Mako==0.7.2
MarkupSafe==0.15
PyJWT==0.1.2
SQLAlchemy==0.7.8
WTForms==1.0.1
Werkzeug==0.8.3
alembic==0.3.5
argparse==1.2.1
blinker==1.2
chardet==1.1
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
gunicorn==0.15.0
httplib2==0.7.4
lamson==1.1
lockfile==0.9.1
mock==1.0b1
nose==1.1.2
python-daemon==1.6
requests==0.13.5
twilio==3.3.10
wsgiref==0.1.2
