<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %}Rutgers Course Sniper </title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/sniper.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    </head>
    <body>
        <div class="content container">
            <header class="jumbotron subhead"> <h1> <span class="red"> Rutgers </span> Schedule Sniper </h1> </header> 
            <div class="well">
                {% block content %}{% endblock %}
            </div>
            <footer> Feedback? Please email sniper@<span style="display:none">CantParseMeBro</span>vverma.net</footer>
        </div>
    </body>
</html>
